html, body {
    height: 100%;
}


h1 {
    text-align: center;

}

#divOuter {
    block-size: 40px;
    border-style:solid;
    border-width: medium;
    font-size: 20pt;
    border-color: red;
    height: 90%;
}

#floater {
    float: left;
    height: 45%;
    width:100%;
}
