#head_title {
    font-size: 25pt;
    background-color: rgb(31, 36,35);
    color:whitesmoke;
    text-align: center; 
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    position:relative;
}
body{
    background-color:rgb(190, 216, 212);
    margin: 0;
    font-family: 'Times New Roman', Times, serif; 
}
nav{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: darkslategray;
}
#flRight{
    background-color: rgb(154, 212, 212);
    color: darkslategray;
}
li a:hover{
    background-color: rgb(31, 36,35);
}
li{
    float: left;
    font-size: 15pt;
}
li a{
    padding-left: 12px;
    padding-right: 12px; 
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
#welcome{
    font-size:30pt;
    text-align: center;
    padding-top: 12%;
    padding-bottom: 1%; 
}
#link_outer{
    text-align: center;
}
#link_outer a:hover{
    font-size: 22pt;
    color: rgb(154, 212, 212);
}
a{
    color:white;
    text-decoration: none;
}
#link_button
{   display: inline-block;
    padding: 5px;
    padding-left: 6px;
    width:auto;
    border-radius: 15px;
    font-size: 21pt;
    border-style: solid;
    background-color:  rgb(46, 54, 53);
    border-width: 1.5px;
    text-decoration: none;
    
}
/* Buy home page style */
#searchSubmit{
    padding-top: 15%; 
    text-align: center;
}
#linksToSearch a {
    color: darkslategray;
    padding-left: 5px;
    padding-right: 5px;
}
#linksToSearch a:hover{
color: aliceblue;
}

#searchList {
    color: darkslategray;
    font-size: 21pt;
}
#hoverLinks a:hover{
    color: aliceblue;
}

#hoverLinks{
        text-align: center;
        padding-top: 5px;
}
#loginPageLinks{
    color: darkslategray;
    text-align: center; 
    
    
}

#loginPageLinks a {
    color: darkslategray;
}

#loginPageLinks a:hover{
    color: black;
}

#editPostLinks{
    color: cornflowerblue;
}
#editPostLinks a{
    color: blue;
    text-underline-position: below;
}
#editPostLinks a:hover{
    color: maroon;
}